<p id="notice"><%= notice %></p>

<h1>Restaurantts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantts.each do |restaurantt| %>
      <tr>
        <td><%= restaurantt.name %></td>
        <td><%= restaurantt.address %></td>
        <td><%= link_to 'Show', restaurantt %></td>
        <td><%= link_to 'Edit', edit_restaurantt_path(restaurantt) %></td>
        <td><%= link_to 'Destroy', restaurantt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurantt', new_restaurantt_path %>
