<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurantt.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurantt.address %>
</p>

<%= link_to 'Edit', edit_restaurantt_path(@restaurantt) %> |
<%= link_to 'Back', restaurantts_path %>
